*{
    font-family: 'Trebuchet MS';
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.full-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    background-size: cover;
}

.main-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    border: 2px solid black;
    border-radius: 12px;
    background-color: aquamarine;
}

.btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-info{
    font-size: 20px;
    font-weight: 500;
}

.name{
    font-size: 30px;
    margin-top: 10px;
}

.image{
    width: 150px;
    height: 15 0px;
}

.button{
    background-color: black;
    color: white;
    border-radius: 8px;
    min-width: 120px;
    height: 40px; 
    outline: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    margin: 10px 5px;
}